<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name = "android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/Theme.Project_Sound_Classification"
        tools:targetApi="31">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Project_Sound_Classification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 메인 메뉴(알림우선순위, 로그, 설정, 이용안내 -->>
        <activity
            android:name=".PriorityActivity"
            android:exported="false"
            android:label="activity_priority"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".LogActivity"
            android:exported="false"
            android:label="activity_log"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:label="activity_setting"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".ServiceInfoActivity"
            android:exported="false"
            android:label="activity_serviceinfo"
            android:parentActivityName=".MainActivity">
        </activity>

        <!-- 서브(알림우선순위 → 개발자정보 -->>
        <activity
            android:name=".DeveloperInfo"
            android:exported="false"
            android:label="개발자 정보"
            android:parentActivityName=".ServiceInfoActivity">
        </activity>

    </application>
</manifest>